---
title: 主页
description: The latest app to help you find new friends with common interests.
image: https://img.wenhairu.com/images/2020/11/15/WYDfn.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h3 class="editable">边云协同的</h3>
			<h2 class="editable">多系统全频段<br>BDS/GNSS实时<br>软件接收处理系统</h2>
			<p class="subtext editable">本网站包含对系统平台的介绍与功能演示，点击“Learn More”或下方按钮获取更多信息。</p>
			<div class="cta button alt"><a href="#">系统演示 Go</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="image">
				<img class="editable" src="https://img.wenhairu.com/images/2020/11/15/WYUeT.png" alt="WYEQA.png"/>
			</div>
			<div class="text">			
				<h6 class="editable">“多功能、高灵活性<br>信号接收、处理定位、监测平台”</h6>
				<p class="editable">GNSS多系统全频段实时软件接收机运行于带有独立GPU的x86电脑之上，是通过纯软件实现的GNSS接收机，支持GNSS多系统全频段信号的实时捕获、跟踪、解调和解算，同时支持所有SBAS系统的L1、L5信号的跟踪、解调、分析监测和增强。<br>该接收机通过GPU完成基带的数据处理、相关运算和捕获运算，并将处理结果交给CPU进行后续的环路跟踪、观测量提取、PVT解算等操作。<br>此外，该平台依托边云协同结构，可在不同地点同时部署多台软件接收机，构建全国甚至是全球性的接收处理系统。
				</p>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Introduction 2</h2>
				<p class="editable">Text </p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Introduction 3</h2>
				<p class="editable">Text </p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">探索更多系统功能！</h2>
				<p class="subtext editable">点击下方按钮获取更多信息。</p>
				<div class="cta button alt"><a href="#">系统演示 GO</a></div>
			</div>
		</div>
	</section>
</div>
