---
title: 主页
description: 系统平台介绍.
image: https://img.wenhairu.com/images/2020/11/15/WYDfn.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h3 class="editable">边云协同的</h3>
			<h2 class="editable">多系统全频段<br>BDS/GNSS实时<br>软件接收处理系统</h2>
			<p class="subtext editable" style = "font-size:1.2em">本网站包含对系统平台的介绍与功能演示，点击“Learn More”或下方按钮获取更多信息。</p>
			<div class="cta button alt"><a href="{{ site.baseurl }}/csnc.html">CSNC现场宣传动画</a></div>
			<div class="cta button alt"><a href="{{ site.baseurl }}/systemvideo.html">系统演示 Go</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="image">
				<img class="editable" src="https://img.wenhairu.com/images/2020/11/15/WYUeT.png" alt="WYEQA.png"/>
			</div>
			<div class="text">			
				<h6 class="editable">“多功能、高灵活性<br>信号接收、处理定位、监测平台”</h6>
				<p class="editable">GNSS多系统全频段实时软件接收机运行于带有独立GPU的x86电脑之上，是通过纯软件实现的GNSS接收机，支持GNSS多系统全频段信号的实时捕获、跟踪、解调和解算，同时支持所有SBAS系统的L1、L5信号的跟踪、解调、分析监测和增强。<br><br>该接收机通过GPU完成基带的数据处理、相关运算和捕获运算，并将处理结果交给CPU进行后续的环路跟踪、观测量提取、PVT解算等操作。<br><br>此外，该平台依托边云协同结构，可在不同地点同时部署多台软件接收机，构建全国甚至是全球性的接收处理系统。
				</p>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">系统框图</h2>
			</div>
			<div class="image">
				<img class="editable" src="https://img.wenhairu.com/images/2020/11/15/WfXoK.png" alt="WfXoK.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">技术特点</h2>
				<h3 class="editable">1. 系统构成：</h3>
				<p class="editable" style = "padding-left: 1.8em"> - 硬件：射频前端+数据处理卡+指定型号的电脑<br> - 软件：GNSS纯软接收机软件 +数据监控处理软件</p>				
				<h3 class="editable">2. 指标：</h3>
				<p class="editable" style = "padding-left: 1.8em"> - 射频：四路模拟中频：</p>
				<p class="editable" style = "padding-left: 3.6em">1550~1607；1217-1288；1166-1227；2600<p>
				<p class="editable" style = "padding-left: 1.8em"> - 数据处理卡：</p>
				<p class="editable" style = "padding-left: 3.6em">USB3.X，最大吞吐率支持到300MB/s<br>置中频预处理和抗窄带干扰、频谱分析算法<br>标准中频数据：24MHz I/Q各2bits采样<br>高比特中频数据：24MHz I/Q各12bits采样</p>
				<p class="editable" style = "padding-left: 1.8em"> - GPU相关器：</p>
				<p class="editable" style = "padding-left: 3.6em">支持128路24MHz采样率的通道<br>每通道40路相关值输出<br>采用更高型号GPU，无需适配代码即可实现更多相关器</p>
				<p class="editable" style = "padding-left: 1.8em"> - 基带模块：</p>
				<p class="editable" style = "padding-left: 3.6em">支持实时信号或回放信号的处理<br>支持对实时信号的录制<br>支持多种信号制式的捕获、跟踪和观测量输出</p>
				<p class="editable" style = "padding-left: 1.8em"> - 数据处理模块：</p>
				<p class="editable" style = "padding-left: 3.6em">支持各种信号单独定位或多信号联合定位<br>支持其他算法的扩展</p>
				<p class="editable" style = "padding-left: 1.8em"> - GUI软件：</p>
				<p class="editable" style = "padding-left: 3.6em">支持浏览器进行远程访问和操作<br>支持图形界面下进行各种参数设置和数据监控</p>
				<h3 class="editable">3. 工作模式：</h3>
				<p class="editable" style = "padding-left: 1.8em"> - 实时解算模式<br> - 数据采集模式<br> - 数据回放模式</p>
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">探索更多系统功能！</h2>
				<p class="subtext editable">点击下方按钮获取更多信息。</p>
				<div class="cta button alt"><a href="{{ site.baseurl }}/systemvideo.html">系统演示 GO</a></div>
			</div>
		</div>
	</section>
</div>
