---
layout: default
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>{{ page.title }}</h1>
			<p class="subtext">{{ page.description }}</p>
		</div>
	</div>
</section>

<script src='//player.polyv.net/script/polyvplayer.min.js'></script>
<div id='plv_62cc4d8f2e3bf4bc81d854f8b46febc2_6'></div>
<script>
var player = polyvObject('#plv_62cc4d8f2e3bf4bc81d854f8b46febc2_6').videoPlayer({
    'width':'600',
  'height':'338',
    'vid' : '62cc4d8f2e3bf4bc81d854f8b46febc2_6' ,
 'forceH5':true 
});
</script>
